/*
	font-family: 'Montserrat', sans-serif;
	font-family: 'Slabo 27px', serif;
	font-family: 'Roboto Slab', serif;
*/

body {
  padding: 50px;
  color: #212529;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: bold; */
}

h1 {
	font-weight: bold;
  font-size: 300px
}

h2 {
  /*
    position: absolute;
    left: 50px;
    bottom: 50px;
  */
}